;; shadow-cljs configuration
{:deps         true
 :dev-http     {4242 "public"
                4243 "target/browser-test"}
 :nrepl        {:port 40823}

 :builds
 {:app {:target :browser
        :output-dir "public/assets/app/js"
        :asset-path "/assets/app/js"
        :modules {:main {:entries [cadro.main]
                         :init-fn cadro.main/start}}
        :devtools {:preloads [devtools.preload
                              cadro.user]
                   :repl-init-ns cadro.user}}

  :test {:target :browser-test
         :test-dir "target/browser-test"
         :runner-ns cadro.test-runner}}}
