;; shadow-cljs configuration
{:source-paths ["src" "test"]
 :dependencies [[reagent/reagent "2.0.1"]
                [re-frame/re-frame "1.4.3"]
                [datascript/datascript "1.7.8"]
                [re-posh/re-posh "0.3.3"]]
 :dev-http     {4242 "public"
                4243 "target/browser-test"}
 :nrepl        {:port 40823}

 :builds
 {:app {:target :browser
        :output-dir "public/assets/app/js"
        :asset-path "/assets/app/js"
        :modules {:main {:entries [cadro.main]
                         :init-fn cadro.main/start}}
        :devtools {:preloads [cadro.user]
                   :repl-init-ns cadro.user}}

  :test {:target :browser-test
         :test-dir "target/browser-test"
         :runner-ns cadro.test-runner}}}
